* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#background-video iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

/* Logo + nom du serveur */
#top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  z-index: 10;
}

#logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

#server-name {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
}

/* Barre de chargement */
#progress-container {
  position: absolute;
  bottom: 30px;
  left: 5%;
  width: 90%;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background-color: #b40000; /* rgba(70.6, 0, 0, 0.2);*/
  transition: width 0.1s ease-in-out;
}
